body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

@keyframes newEntry {
	from{color:white;}
	to{color:red;}
 }

.form-auth {
	/*max-width: 330px;*/
	padding: 5px;
	margin: 0 auto;
}

.time-stamp {
	float: right; 
	right: 12px;
}