@keyframes newEntry {
	from{color:white;}
	to{color:red;}
 }

.sky {
	color:white;
	background-color:lightblue;
	padding:20px;
	font-family:"Courier New";
}

.earth {
	color:white;
	background-color:#000000;
	padding:20px;
	font-family:"Courier New";
}

.neww{
    color:white;
    animation:newEntry 4s infinite;

}