<html>
    <head>
        <title>Notices</title>
        <script src="js/angular.min.js"></script>
        <script src="js/noticesApp.js"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script> -->

        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">

    </head>
    <body ng-app="noticesApp">
        <div id="main" class="container" ng-controller="mainController">
            <div class="col-md-offset-2 col-md-8">
                <div class="clearfix">
                    <form ng-submit="post()">
                        <div class="row">
                            <ul class="list-inline">
                                <li>
                                <input required type="text" placeholder="your name" ng-model="newNotice.created_by" />
                                </li>
                                <li>
                                <textarea required maxlength="200" rows="2" placeholder="enter your notice" ng-model="newNotice.text"></textarea></li>
                            </ul>
                        </div>
                        <div class="row">
                            <input class="btn submit-btn" type="submit" value="Post it!" />
                        </div>   
                    </form>

                    <div id="post-stream">
                        <h3>Notices Feed</h3>
                    <!-- to be populated by notices -->
                        <div class="notice well" ng-repeat="notice in notices | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
                            <p>{{notice.text}}</p>
                            <small>Posted by @{{notice.created_by}}</small>
                            <small class="pull-right">{{notice.created_at | date:"h:mma 'on' MMM d, y"}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>	
