<html>
    <head>
        <title>Notices</title>
           <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/noticesApp.js"></script>
     
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script> -->

        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style type="text/css">
         @keyframes newEntry {
         from{color:white;}
         to{color:red;}
         }

         .sky {
        color:white;
        background-color:lightblue;
        padding:20px;
        font-family:"Courier New";
        }

        .earth {
        color:white;
        background-color:#FF6600;
        padding:20px;
        font-family:"Courier New";
        }

        .neww{
            color:white;
            animation:newEntry 4s infinite;

        }

        </style>
        <script type="text/javascript">
        $(document).ready(function(){
          $('#newIcon').hide();




        })
        </script>
    </head>
    <body ng-app="noticesApp">
        <div id="main" class="container" ng-controller="mainController">
            <div class="col-md-offset-2 col-md-8">
                <div class="clearfix">
                    <form ng-submit="post()">
                        <div class="row">
                            <ul class="list-inline">
                                <li>
                                <input required type="text" placeholder="your name" ng-model="newNotice.created_by" />
                                </li>
                                <li>
                                <textarea required maxlength="200" rows="2" placeholder="enter your notice" ng-model="newNotice.text"></textarea></li>
                            </ul>
                        </div>
                        <div class="row">
                            <input class="btn submit-btn" type="submit" value="Post it!" />
                        </div>   
                    </form>

                    <div id="post-stream">
                        <h3>Notices Feed</h3>
                    <!-- to be populated by notices -->
                        <div class="notice well" ng-repeat="notice in notices | orderBy:'created_at':true" ng-class-odd="'earth'" ng-class-even="'sky'">
                         <div class="row">
                            <h1 style="font-size:26px;">{{notice.text}}</h1>
                            <span id="newIcon"><i  class="material-icons neww">new_releases</i><i class="material-icons">not_interested</i> <i class="material-icons">stars</i> <i class="material-icons">visibility</i></span>
                        </div>
                        <div class="row">
                            <small>Posted by @{{notice.created_by}}</small>
                            <small class="pull-right">{{notice.created_at | date:"h:mma 'on' MMM d, y"}}</small>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>	
