<html>
    <head>
        <title>Notices</title>
        <script src="js/angular.min.js"></script>
        <script src="js/noticesApp.js"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script> -->

        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body ng-app="noticesApp">
        <div id='main' class="container" ng-controller="authController">
            <form class="form-auth" ng-submit="register()">
                <h2>Register</h2>
                <p class="text-warning">{{error_message}}</p>
                <input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
                <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
                <input type="submit" value="Register" class="btn btn-primary" />
            </form>
        </div>
    </body>
</html>