<div class="row">
    <div class="col s12 m6 offset-m3">
		<form class="form-auth col s12" ng-submit="register()">
		    <h3>Register</h3>
		    <p class="text-warning">{{error_message}}</p>
		    <p class="login-status" ng-show="authenticated">Sign in {{message}}</p>
		    <div class="row">
		        <div class="input-field col s6">
		        	<input ng-model="user.first_name" id="first_name" type="text" class="validate">
		        	<label for="first_name">First Name</label>
		        </div>
		        <div class="input-field col s6">
		        	<input ng-model="user.last_name" id="last_name" type="text" class="validate">
		        	<label for="last_name">Last Name</label>
		        </div>
		    </div>
		    <div class="row">
		        <div class="input-field col s12">
		        	<input ng-model="user.email" id="email" type="email" class="validate">
		        	<label for="email">Email</label>
		        </div>
		    </div>
		    <div class="row">
		        <div class="input-field col s12">
			        <input type="text" ng-model="user.username" id="username" class="validate">
			        <label for="username">Username</label>
		        </div>
		    </div>
		    <div class="row">
		        <div class="input-field col s12">
		            <input type="password" ng-model="user.password" id="pswd" class="validate">
		            <label for="pswd">Password</label>
		        </div>
		    </div>
		    <input type="submit" value="Register" class="waves-effect waves-light btn" style="float: right; right: 12px" />
		</form>
	</div>
</div>
