.header {
  height: 70px;
  width: 100vw;
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}

.header .logo-container {
  height: 100%;
  width: 70px;
  padding: 25px;
}

.options {
  padding: 10px 15px;
  cursor: pointer;
  height: 100%;
}